<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<properties resource="driver.properties"/>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

	<typeAliases>
		<typeAlias
			type="kh.mclass.semim.board.model.dto.BoardListDto"
			alias="BoardListDto" />
		<typeAlias
			type="kh.mclass.semim.board.model.dto.BoardReadDto"
			alias="BoardReadDto" />
		<typeAlias
			type="kh.mclass.semim.board.model.dto.BoardReplyDto"
			alias="BoardReplyDto" />
		<typeAlias
			type="kh.mclass.semim.board.model.dto.BoardInsertDto"
			alias="BoardInsertDto" />
	</typeAliases>

	<environments default="development1">
		<environment id="development1">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}" />
				<property name="url" value="${jdbc.semi.localhost.url}" />
				<property name="username" value="${jdbc.semi.username}" />
				<property name="password" value="${jdbc.semi.password}" />
			</dataSource>
		</environment>
		<environment id="development2">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}" />
				<property name="url" value="${jdbc.semi.dbserver.url}" />
				<property name="username" value="${jdbc.semi.username}" />
				<property name="password" value="${jdbc.semi.password}" />
			</dataSource>
		</environment>
		<environment id="development3">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}" />
				<property name="url" value="${jdbc.semi.localhost.url}" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${jdbc.password}" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="mappers/board-mapper.xml"/>
		<!-- xxx-mapper.xml 생성 후 추가 -->
	</mappers>
</configuration>














