<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardns">
	<resultMap type="kh.mclass.semim.board.model.dto.FileReadDto" id="FileReadDtoResultMap">
		<result column="BOARD_ID" property="boardId"/>
		<result column="BOARD_FILE_ID" property="boardFileId"/>
		<result column="SAVED_FILE_PATH_NAME" property="savedFilePathName"/>
		<result column="ORIGINAL_FILENAME" property="orginalFileName"/>
	</resultMap>

	<select id="selectPageList" resultType="BoardListDto">
SELECT BOARD_ID, SUBJECT,CONTENT,WRITE_TIME,LOG_IP,BOARD_WRITER,READ_COUNT    FROM BOARD order by board_id desc
	</select>

	<select id="selectFileList" parameterType="int" resultMap="FileReadDtoResultMap">
		SELECT BOARD_ID, BOARD_FILE_ID, SAVED_FILE_PATH_NAME, ORIGINAL_FILENAME   
		FROM BOARD_FILE WHERE BOARD_ID=#{abc}
	</select>
	
	<select id="selectBoardReplyList" parameterType="int" resultType="kh.mclass.semim.board.model.dto.BoardReplyListDto">
		select BOARD_REPLY_ID,  BOARD_REPLY_WRITER,BOARD_REPLY_CONTENT, 
				BOARD_REPLY_WRITE_TIME, 
				BOARD_REPLY_LEVEL,BOARD_REPLY_REF, BOARD_REPLY_STEP
		from board_reply where board_id=#{boardId} order by board_reply_ref desc,  board_reply_step
	</select>
	<select id="selectTotalCount" resultType="int">
		select count(*) cnt from board
	</select>
	
	
	<insert id="insert" parameterType="BoardInsertDto">
	INSERT ALL 
	INTO BOARD (BOARD_ID,			SUBJECT,	CONTENT,	WRITE_TIME,LOG_IP,BOARD_WRITER,READ_COUNT) 
		VALUES (SEQ_BOARD_ID.nextval, #{subject}, #{content}, default, null, #{boardWriter}, default) 
<if test="fileList != null">
	<foreach collection="fileList" item="filedto" index="idx" separator=" ">
	INTO BOARD_FILE (BOARD_ID, BOARD_FILE_ID, SAVED_FILE_PATH_NAME, ORIGINAL_FILENAME) 
	VALUES (SEQ_BOARD_ID.nextval, #{idx}, #{filedto.filePath}, #{filedto.orginalFileName}) 
	</foreach>
</if>
	SELECT * FROM DUAL 
	</insert>
	
	
</mapper>





















