
#section article {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
}

#section article.article-1 div.flex-3.menubar {
    display: flex;
    
    /* 오른쪽정렬 */
    justify-content: flex-end;

    column-gap: 2px;
}
#section  article.article-1 div.flex-3.menubar > div {
    border: 1px solid black;
    padding : 10px;
}
#section  article.article-1 div.flex-3.inputform {
    display: flex;

    /* 양쪽정렬 */
    justify-content: space-between;
    row-gap: 10px;

    /* 여러줄 */
    flex-wrap: wrap;
}
#section  article.article-1 div.flex-3.inputform > div {
    border: 1px solid black;

    /* flex 자식의 최대 크기 */
    width: 49%;
}

#section  article.article-2 div.grid-3 {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 10px;
}
#section  article.article-2 div.grid-3.basis {
    /* grid-template-columns:1fr 2fr 1fr; */
    grid-template-columns:300px 1fr 1fr;
    /* grid-template-columns:auto auto auto; */
}
#section  article.article-2 div.grid-3  > div {
    border: 1px solid black;
}

#section  .flex-card-item{
    display: flex;
    flex-direction: column;
}

#section  .flex-card-item > .flex-icons{
    display: flex;
    justify-content: space-between;
}

#section  .fullsizeimg{
    /* 부모크기를 기준으로 100% */
    width: 100%;
}

#section .wrap-modal {
	display: none;
	position:fixed;	top:0; left:0;
	width: 100%; height: 100%;
	background-color: rgba(130,130,130, 0.2);
	z-index: 99999;
}
#section .wrap-modal > .modal-content{
	width: 500px; margin : 0 auto;
	position: relative;
	top: 50px;
	background-color: olive; 
}





















