/*  */
.wrap-header {
    background-color: aliceblue;
}
.wrap-header > header{
    /* 중앙 배치 */
    width: 960px; margin: 0 auto;
}
/*  */
.wrap-footer {
    background-color: azure;

    /* float - 동위 - 해제 */
    clear: both;
}
.wrap-footer > footer{
    /* 중앙 배치 */
    width: 960px; margin: 0 auto;
}
/*  */
.wrap-main {
    background-color: #ffd;
    /* 중앙 배치 */
    width: 960px; margin: 0 auto;

    /* float - 부모 height를 위해  */
    overflow: hidden;

    /* background-color 빈공간 생김
    margin: 10px 0;*/
    /* background-color 칠해지는 공간 */
    padding: 10px 0;
}
.wrap-main > section{
    /* float 왼쪽 배치 */
    /* width: 750px; float: left; */
	width : 750px; 
    margin-right: 10px;
}
.wrap-main > aside{
    /* float 왼쪽 배치 */
    /* width: 200px; float: left; */
    width: 200px;
    position: fixed;
    top: 30px;
    right: 10px;
}














