span {
    color: yellowgreen;
}
#a1{
    text-decoration-line: none;
}
.input{
    background-color: beige
}
input{
    background-color: antiquewhite;
}
label{
    color: aqua;
}
.tc-red{
    color: red;
    font-style: italic;
}
.bg-blue{
    background-color: blue;
    font-style: italic;
}